# Virtual environments
venv/
.venv/

# Python
__pycache__/
*.pyc

# Secrets
.env

# IDE
.vscode/

# Databases
*.db
*.sqlite
*.sqlite3

# Raw datasets
data/raw/

# ML models
models/*.pkl
models/*.joblib
**/saved_models/*.pkl
**/saved_models/*.joblib
data/
database/*.pkl

# Processed datasets
**/processed_data/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS
.DS_Store
Thumbs.db